<html>

<head>
  <title>Contact Shawn</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">
</head>

<body>

 

  <div class="flex-container">
    <div class="card form-group">
      <h2 class="titleStyling">Contact Shawn Taylor</h2>

      <div class="view_port">
        <div class="polling_message">
         
        </div>
        <div class="cylon_eye"></div>
      </div>

      <form id="fs-frm" name="" accept-charset="utf-8" action="https://formspree.io/shawncurtistaylor@hotmail.com"
        method="post">

        <fieldset id="fs-frm-inputs">
          <br>
          <div class="padding-left">
            <label for="firstName">First Name:</label>
            <input class='input' id="firstName" name="firstName" type="text">
            <br>
            <br>
            <label for="lastName">Last Name:</label>
            <input class='input' id="lastName" name="lastName" type="text">
            <br>
            <br>
            <label for="email-address">Email Address:</label>
            <input class='input slack' type="email" name="_replyto" id="email-address" placeholder="email@domain.tld"
              required="">
            <br>
            <br>
            <label for="message">Message:</label>
            <textarea class='input slack' rows="1" name="message" id="message" placeholder="Your message."
              required=""></textarea>
            <br>
            <br>
            <input type="hidden" name="_after" action="/thanks" method="post">
        </fieldset>
        <br>
        <input class="btn" type="submit" value="Submit">
        <br>
      </form>

      
    </div>
  </div>

</body>

</html>