<html>

<head>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title> Shawn's Portfolio </title>

</head>







<body>


  <div class="context">
    <h1></h1>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>




  <div class="backy">

    <div class="iAmStyling">
      Hello my name is <%= person.firstName %> <%= person.lastName %>
    </div>
    <hr class="lineAdjust">

    <div class="view_port">
      <div class="polling_message">
        
      </div>
      <div class="cylon_eye"></div>
    </div>

    <hr class="lineAdjust">
    <h1 class="projectTitleStyling happy">Some of my current projects:</h1>
    <div class="centering">



      <div class="thumb1" , ondblclick>
        <div class="behind">Self-awareness quiz filled out anyonously by friends and co-workers with comepletely
          anonymous feed back.
          Learn about yourself with results only you have access too. Help give constructive critism to others without
          the guilt.
        </div>
        <a href="">
          <span>Press To Visit</span>
        </a>
      </div>

      <div class="thumb">
        <div class="behind">Get the current weather conditions for any city.
        </div>
        <a href="https://weatherapp6980.herokuapp.com/">
          <span>Press To Visit</span>
        </a>
      </div>



      <div class="thumb3">
        <div class="behind">Get information on many of San Diego's Top Spots for food, spirits, and fun.
        </div>
        <a href="">
          <span>Press To Visit</span>
        </a>
      </div>

      <div class="thumb4">
        <div class="behind">A very useful app to keep a daily todo list.  Simple to use.  Even allows you to set the priority level of the todo item.
          Easily add, edit, and delete items.
        </div>
        <a href="https://react100-vstda.shawncurtistaylor.now.sh">
          <span>Press To Visit</span>
        </a>
      </div>

      <!-- <div class="thumb5">
        <a href="">
          <span>Press To Visit</span>
        </a>
      </div> -->

      <div class="thumb2">
        <div class="behind">Get information on your favorite movies.
        </div>
        <a href="">
          <span>Press To Visit</span>
        </a>
      </div>

      <div class="thumb6">
        <div class="behind">A company that I own.  Also a taste of what I did in my former life.  Simple great looking site.
        </div>
        <a href="http://jackofallhometrades.com/index.html">
          <span>Press To Visit</span>
        </a>
      </div>

    </div>
    <hr>
    <br>
    <form action="/contact" method="get">
      <table>
        <tr>
          <th class="ifStyling">If you would like to see more</th>
          <th><button class="btn1" type="submit">Contact</button></th>
          <th class="ifStyling">me!</th>
        </tr>
      </table>
    </form>
    <br>
    <hr>
    <br>
    <br>
    <br>
    <div class="menu">
      <div class="label">Follow Me</div>
      <div class="spacer"></div>
      <div class="item10"><a href="https://github.com/Puffshere">Github</a></div>
      <div class="item10"><a href="https://www.linkedin.com/in/shawn-taylor-92a06591/">Linkedin</a></div>
      <div class="item10"><a href="https://www.facebook.com/chase.discgolf">Facebook</a></div>

    </div>
        <p class="messageStyling">Timing is everything!  I believe putting yourself in the right place at the right time with the right knowledge is the key to success.
          For me that was a life time of experiences: being a city counselman, union carpenter, business owner, discgolf course designer,
          firefighter, husband, and father.  And living in San Diego in a time when Michael Roberts is running a great code school.  I wanna thank <a href="https://www.sdcs.io/flexstart?gclid=Cj0KCQiA04XxBRD5ARIsAGFygj9fjRWVdwFCKw2QpL4uNsXL3dv-9WaIYogaQ3R22MVwya9T1lBsaJAaApWaEALw_wcB" class="hype">San Diego Code School</a> for a great education!
        </p>
  </div>


</div >

</body>

</html>