<html>
  <head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <title> Shawn's Portfolio </title>
  </head>
  <body>
    <div class="container">
      I am <%= person.firstName %> <%= person.lastName %>
    </div>

    <form action="/contact" method="get">
      <button type="submit">Contact</button>
      <!-- <button type="submit" formmethod="post">Submit using POST</button> -->
    </form>

  </body>
</html>