<html>

<head>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title> Shawn's Portfolio </title>
</head>

<body>

  <div class="backy">

    <div class="iAmStyling">
      I am <%= person.firstName %> <%= person.lastName %>
    </div>
    <hr class="lineAdjust">
    <form action="/contact" method="get">
      <table>
        <tr>
          <th class="ifStyling">If you would like to see more</th>
          <th><button class="btn1" type="submit">Contact</button></th>
          <th class="ifStyling">me!</th>
        </tr>
      </table>
    </form>

    <hr>
    <h1 class="projectTitleStyling happy">Some scatered projects:</h1>
    <div class="centering">

      <div class="thumb">
        <a href="https://weatherapp6980.herokuapp.com/">
          <span>Press To Visit</span>
        </a>
      </div>

      <div class="thumb1">
        <a href="">
          <span>Press To Visit</span>
        </a>
      </div>

      <div class="thumb2">
        <a href="">
          <span>Press To Visit</span>
        </a>
      </div>

      <div class="thumb3">
        <a href="">
          <span>Press To Visit</span>
        </a>
      </div>

      <div class="thumb4">
        <a href="https://react100-vstda.shawncurtistaylor.now.sh">
          <span>Press To Visit</span>
        </a>
      </div>

      <div class="thumb5">
        <a href="">
          <span>Press To Visit</span>
        </a>
      </div>

      <div class="thumb6">
        <a href="http://jackofallhometrades.com/index.html">
          <span>Press To Visit</span>
        </a>
      </div>

    </div>

  </div>
</body>

</html>