<html>
  <head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <title> Shawn's Portfolio </title>
  </head>
  <body>
    <div class="container">
      I am <%= person.firstName %> <%= person.lastName %>
    </div>
  </body>
</html>