<html>

<head>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">

  <title> Shawn's Portfolio </title>
</head>

<body>
  <div class="backy">
    <br>
    <br>
    <br>
    <div class="container iAmStyling">
      I am <%= person.firstName %> <%= person.lastName %>
    </div>
    <br>
    <br>
    <br>

    <form action="/contact" method="get">
      <button class="btn" type="submit">Contact</button>
    </form>
  </div>
</body>

</html>