<html>

<head>
  <title>Shawn Thanks You</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
</head>

<body>
  <div class="body">
    <div class="blurred-box">
      <div class="user-login-box">
        <!-- <span class="user-icon"></span> -->

        <div class="user-name">
          <div class="thanksNot">Thank you! </div>
          <%= contact.firstName %> <%= contact.lastName %>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <input class="btn2" type="submit" value="Submit">


      </div>



    </div>

</body>

</html>