.padding-left {
text-align: center;
}

.card {
    background-image: linear-gradient(#bebebe,#8c8d8d);
    font-size: 50px;
}

.btn {
    background-image: linear-gradient(#20b6f1,#036988);
    color: white;
    border-radius: 5px;
    align-content: center;
    box-shadow: 2px 2px 2px whitesmoke;
    display: block;
    margin: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height:70px;
    width:170px;
    font-size: 30px;
}
.btn:hover {
    background-image: linear-gradient(#1a9ccf,#015169);
    
}
.btn:focus {
    background-image: linear-gradient(#136d91,#01212b);
}

.titleStyling {
    text-align: center;
    padding-top: 30px;
    text-shadow: 2px 2px 2px whitesmoke;
    margin-bottom: 50px;
}

.input {
    height: 40px;
    width: 250px;
    font-size: 25px;
}

.iAmStyling {
    font-size: 100px;
    text-align: center;
}

.backy {
    background-image: linear-gradient(#bebebe,#8c8d8d);  
    margin: auto 10px;
    width: auto;
    height: 2000px;
}

.weatherApp {
    background-repeat: no-repeat;
    width: 439px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
}

.awareness {
    background-repeat: no-repeat;
    width: 439px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
}

.movie {
    background-repeat: no-repeat;
    width: 439px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
}

.sanDiego {
    background-repeat: no-repeat;
    width: 439px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
}
