.centering {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
    margin-top: 10px;
}

.color {
    background-color: #8c8d8d;
    margin-top: -14px;
    margin-bottom: -18px;
}

.tableStyling {
    background-color: rgb(107, 41, 41);
    width: 100%;
    margin-top: -5px;
    margin-bottom: -15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.tableStyling1 {
    background-color: rgb(107, 41, 41);
    width: 100%;
    margin-top: -5px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.card {
    background-image: linear-gradient(#bebebe,#8c8d8d);
    font-size: 50px;
}

.btn {
    background-image: linear-gradient(#20b6f1,#036988);
    color: white;
    border-radius: 5px;
    align-content: center;
    box-shadow: 2px 2px 2px whitesmoke;
    display: block;
    margin: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height:70px;
    width:170px;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.btn:hover {
    background-image: linear-gradient(#1a9ccf,#015169);
    cursor: pointer;
}
.btn:focus {
    background-image: linear-gradient(#136d91,#01212b);
    cursor: pointer;
}

.btn1 {
    background-image: linear-gradient(#20b6f1,#036988);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px whitesmoke;
    display: block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height:35px;
    width:80px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    z-index: 3;
}

.btn1:hover {
    background-image: linear-gradient(#1a9ccf,#015169);
    cursor: pointer;
}

.btn1:focus {
    background-image: linear-gradient(#136d91,#01212b);
    cursor: pointer;
}

.titleStyling {
    text-align: center;
    padding-top: 5px;
    text-shadow: 2px 2px 2px whitesmoke;
    padding-bottom: 20px;
    position: relative;
    -webkit-animation: myfirst 5s linear 2s infinite alternate; 
    animation: myfirst 5s linear 2s infinite alternate;
    font-family: 'Courgette', cursive;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

@-webkit-keyframes mysecond {
    0%   {color:rgb(241, 193, 193);}
    50%  {right:0px; top:0px;}
    100% {color: rgb(107, 41, 41);}
  }

.input {
    height: 40px;
    width: 500px;
    font-size: 25px;
    float: right;
    position: relative;
    z-index: 3;
    background-color: rgba(107, 41, 41, 0.25);
}

.backy {
    background-image: linear-gradient(#bebebe,#212222);  
    margin: auto 10px;
    width: auto;
    height: 2500px;
}

.weatherApp {
    background-repeat: no-repeat;
    width: 400px;
    height: 270px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.awareness {
    background-repeat: no-repeat;
    width: 433px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.movie {
    background-repeat: no-repeat;
    width: 433px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.sanDiego {
    background-repeat: no-repeat;
    width: 400px;
    height: 270px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.jack {
    background-repeat: no-repeat;
    width: 433px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.vstda {
    background-repeat: no-repeat;
    width: 433px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.lights {
    background-repeat: no-repeat;
    width: 433px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.rock {
    background-repeat: no-repeat;
    width: 150px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.projectTitleStyling {
    color: rgb(158, 35, 35);
    font-size: 40px;
    font-style: oblique;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: -10px;
}

.yep {
    color: rgb(138, 131, 123);
    
    font-style: oblique;
   
}

.lap {
    overflow: hidden;
}

.iAmStyling {
    font-size: 80px;
    text-align: center;
    font-family: 'Courgette', cursive;
    padding-bottom: 13px;
    padding-top: 5px;
    text-shadow: 2px 2px 2px white;
    color: rgb(36, 36, 36);
    
}

.iAmStyling1 {
    font-size: 80px;
    text-align: center;
    font-family: 'Courgette', cursive;
    padding-bottom: 13px;
    padding-top: 5px;
    text-shadow: 2px 2px 2px white;
    color: rgb(36, 36, 36);
    padding-left: 40px;
}

.iAmStyling2 {
    font-size: 80px;
    text-align: center;
    font-family: 'Amarante', cursive;
    padding-bottom: 13px;
    padding-top: 5px;
    text-shadow: 2px 2px 2px white;
    color: rgb(139, 111, 75);
    padding-right: 60px;
}

.iAmStyling3 {
    font-size: 80px;
    text-align: center;
    font-family: 'Courgette', cursive;
    
    padding-top: -15px;
    text-shadow: 2px 2px 2px white;
    color: rgb(36, 36, 36);
    padding-left: 40px;
}

.iAmStyling4 {
    font-size: 80px;
    text-align: center;
    font-family: 'Amarante', cursive;
   
    padding-top: -15px;
    text-shadow: 2px 2px 2px white;
    color: rgb(139, 111, 75);
    padding-right: 60px;
}

.help {
 
   
   
    background-image: url("/images/space.png");
    
    
    
  

}

/* .iAmStyling {
    position: relative;
    -webkit-animation: myfirst 5s linear 2s infinite alternate; 
    animation: myfirst 5s linear 2s infinite alternate;
} */
  
/* @-webkit-keyframes myfirst {
    0%   {left: 0px;}
    50%  {right:15px;}
    100% {left:-15px;}
}    */


.lineAdjust {
      margin-top: 0px;
      margin-bottom: 0px;
}

.ifStyling {
    font-size: 46px;
    text-shadow: 1px 1px 2px black;
    position: relative;
    z-index: 3;
}

table {
     position: relative;
     justify-content: center;
     margin: auto;
     margin-top: 15px;
}
  
/* --------------------------------------------------------------3D Projects------------------------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
    background: #ddd;
    background: linear-gradient(#ddd, #e8e8e8);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin:0px;
}

.thumb {
    width: 400px;
    height: 250px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url("/images/weatherApp.png");
    background-size: 0, contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 96%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.thumb1 {
    width: 400px;
    height: 200px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/awareness.png");
    background-size: 0, contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb1:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb1 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb1 a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb1 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb1:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.thumb2 {
    width: 400px;
    height: 300px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb2 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url("/images/movie.png");
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb2:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb2 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb2 a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb2 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb2:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.thumb3 {
    width: 400px;
    height: 200px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb3 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url("/images/sanDiego.png");
    background-size: 0, contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb3:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb3 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb3 a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb3 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb3:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.thumb4 {
    width: 400px;
    height: 240px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb4 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
	url("/images/vstda.png");
    background-size: 0, contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb4:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb4 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb4 a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb4 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb4:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.thumb5 {
    width: 150px;
    height: 300px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb5 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
	url("/images/rock.png");
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb5:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb5 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb5 a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb5 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb5:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.thumb6 {
    width: 400px;
    height: 240px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb6 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
	url("/images/jack.png");
    background-size: 0, contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb6:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb6 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb6 a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb6 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb6:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

@-webkit-keyframes happy {
    0%   {left:-15px; top:0px;}
    50%  {right:0px; top:0px;}
    100% {left:15px; top:0px;}
}

.happy:hover, .happy:focus, .happy:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
text-align: center;
text-rendering: optimizeLegibility;
}

.happy
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
text-shadow: 2px 2px 2px black;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
text-align: center;
position: relative;
-webkit-animation: happy 5s infinite alternate; 
animation: happy 5s infinite alternate;
}

/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */

.menu {
  text-transform: uppercase;
  color: rgb(123, 29, 29);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: relative;
  bottom: 20px;
  left: 20px;
  z-index: 5;
  font-size: 40px;
}

.menu:hover {
  pointer-events: all;
}

.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}

.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}

.item10 {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}

.item10:hover span {
  color: #4d2121;
}

.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}

.menu:hover .item10 {
  opacity: 1;
  top: 0px;
}

.item10:nth-child(1) {
  transition-delay: 0.45s;
}

.item10:nth-child(2) {
  transition-delay: 0.4s;
}

.item10:nth-child(3) {
  transition-delay: 0.35s;
}

.item10:nth-child(4) {
  transition-delay: 0.3s;
}

.item10:nth-child(5) {
  transition-delay: 0.25s;
}

.item10:nth-child(6) {
  transition-delay: 0.2s;
}

.item10:nth-child(7) {
  transition-delay: 0.15s;
}

.item10:nth-child(8) {
  transition-delay: 0.1s;
}

.item10:nth-child(9) {
  transition-delay: 0.05s;
}

.item10:nth-child(10) {
  transition-delay: 0s;
}

.menu:hover .item10:nth-child(1) {
  transition-delay: 0.25s;
}

.menu:hover .item10:nth-child(2) {
  transition-delay: 0.3s;
}

.menu:hover .item10:nth-child(3) {
  transition-delay: 0.35s;
}

.menu:hover .item10:nth-child(4) {
  transition-delay: 0.4s;
}

.menu:hover .item10:nth-child(5) {
  transition-delay: 0.45s;
}

.menu:hover .item10:nth-child(6) {
  transition-delay: 0.5s;
}

.menu:hover .item10:nth-child(7) {
  transition-delay: 0.55s;
}

.menu:hover .item10:nth-child(8) {
  transition-delay: 0.6s;
}

.menu:hover .item10:nth-child(9) {
  transition-delay: 0.65s;
}

.menu:hover .item10:nth-child(10) {
  transition-delay: 0.7s;
}

a:-webkit-any-link {
    color: rgb(123, 29, 29);
    cursor: pointer;
    text-decoration: none;
}

.behind {
    position: absolute;
    z-index: -1;
}




p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;

  }

  p:hover {
    animation-play-state: paused;

  }
  
  @keyframes slidein {
    from {
      /* margin-left: 100%;
      width: 300%;  */
    }
  
    75% {
      font-size: 300%;
      /* margin-left: 25%;
      width: 150%; */
    }
  
    to {
      /* margin-left: 0%;
      width: 100%; */
    }
  }

  .hype {
    color: rgb(123, 29, 29);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    cursor: pointer; 
  }

/* -------------------------------------------------------------------lazerEye----------------------------------------------- */

  .polling_message {
    color: white;
    float: left;
    margin-right: 0%;
  }
  
  .view_port {
    background-color: black;
    height: 25px;
    width: 100%;
    overflow: hidden;
  }
  
  .cylon_eye {
    background-color: rgb(123, 29, 29);;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, .9) 25%,
        rgba(0, 0, 0, .1) 50%,
        rgba(0, 0, 0, .9) 75%);
    color: white;
    height: 100%;
    width: 20%;
  
    -webkit-animation: 4s linear 0s infinite alternate move_eye;
            animation: 4s linear 0s infinite alternate move_eye;
  }
  
  @-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
          @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }



  .polling_message {
    color: white;
    float: left;
    margin-right: 0%;
  }
  
  .view_port1 {
    background-color: black;
    height: 5px;
    width: 100%;
    overflow: hidden;
  }
  
  .cylon_eye1 {
    background-color: rgb(123, 29, 29);;
    background-image: linear-gradient(to left,
        rgba(156, 152, 133, 0.9) 25%,
        rgba(124, 110, 90, 0.1) 50%,
        rgba(93, 104, 114, 0.9) 75%);
    color: white;
    
    width: 100%;
  
    -webkit-animation: 4s linear 0s infinite alternate move_eye1;
            animation: 4s linear 0s infinite alternate move_eye1;
  }
  
  @-webkit-keyframes move_eye1 { from { margin-right: -20%; } to { margin-right: 100%; }  }
          @keyframes move_eye1 { from { margin-right: -20%; } to { margin-right: 100%; }  }
          /* @-webkit-keyframes move_eye {
            from {background-color: red;}
            to {background-color: yellow;}
          } */





label {
    cursor: default;
    text-shadow: 1px 1px 1px white;
    position: relative;
    z-index: 3;
    color: rgb(107, 41, 41);

}

.slack {
    text-align: center;
}








@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area{
    background: #cecece;  
    background: -webkit-linear-gradient(to left, #bebebe,#8c8d8d);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}









/* .html {
    height: 100%;
    
    background-image:
      linear-gradient(
        155deg,
        transparent 13%,
        black 15%,
        transparent 0
        ),
      linear-gradient(
        90deg,
        transparent 49%,
        black 49%,
        black 50%,
        transparent 0
        ),
      linear-gradient(
        65deg,
        transparent 31%,
        black 33%,
        transparent 0
        ),
      linear-gradient(
        45deg,
        transparent 47%,
        black 49%,
        transparent 0
        ),
      linear-gradient(
        25deg,
        transparent 32%,
        black 34%,
        transparent 0
        ),
      linear-gradient(
        -25deg,
        transparent 60%,
        black 62%,
        transparent 0
        ),
      linear-gradient(
        -65deg,
        transparent 31%,
        black 33%,
        transparent 0
        ),
      linear-gradient(
        180deg,
        transparent 53%,
        black 55%,
        transparent 0
        ),
      linear-gradient(
        -25deg,
        transparent 32%,
        black 34%,
        transparent 0
        ),
      linear-gradient(
        -65deg,
        transparent 65%,
        black 67%,
        transparent 0
        ),
      linear-gradient(
        -45deg,
        transparent 47%,
        black 49%,
        transparent 0
        );
    
    background-size: 
      80px 100px, 
      100px 100px, 
      75px 100px, 
      75px 100px, 
      80px 100px, 
      80px 100px, 
      80px 100px, 
      80px 100px, 
      80px 100px, 
      75px 100px, 
      80px 100px;
    
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    animation: sloppy 2s linear infinite alternate;
    }
  
  @keyframes sloppy {
    0% {
      background-size:  
        0 100px, 
        100px 0, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px;
      }
    10% {
      background-size: 
        0 100px, 
        100px 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px; 
      }
    20% {
      background-size: 
        0 100px, 
        100px 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        80px 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px; 
      }
    30% {
      background-size: 
        80px 100px, 
        100px 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        80px 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px; 
      }
    40% {
      background-size: 
        80px 100px, 
        100px 100px, 
        0 100px, 
        75px 100px, 
        0 100px, 
        80px 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px, 
        0 100px; 
      }
    50% {
      background-size: 
        80px 100px, 
        100px 100px, 
        0 100px, 
        75px 100px, 
        0 100px, 
        0 100px, 
        80px 100px, 
        80px 100px, 
        0 100px, 
        0 100px, 
        0 100px; 
      }
    60% {
      background-size: 
        80px 100px, 
        100px 100px, 
        75px 100px, 
        75px 100px, 
        0 100px, 
        0 100px, 
        80px 100px, 
        80px 100px, 
        0 100px, 
        0 100px, 
        0 100px; 
      }
    70% {
      background-size: 
        80px 100px, 
        100px 100px, 
        75px 100px, 
        75px 100px, 
        80px 100px, 
        0 100px, 
        80px 100px, 
        80px 100px, 
        0 100px, 
        0 100px, 
        80px 100px; 
      }
    80% {
      background-size: 
        80px 100px, 
        100px 100px, 
        75px 100px, 
        75px 100px, 
        80px 100px, 
        80px 100px, 
        80px 100px, 
        80px 100px, 
        0 100px, 
        75px 100px, 
        80px 100px; 
      }
    90% {
      background-size: 
        80px 100px, 
        100px 100px, 
        75px 100px, 
        75px 100px, 
        80px 100px, 
        80px 100px, 
        80px 100px, 
        80px 100px, 
        80px 100px, 
        75px 100px, 
        80px 100px; 
      }
    100% {
      background-size: 
        80px 100px, 
        100px 100px, 
        75px 100px, 
        75px 100px, 
        80px 100px, 
        80px 100px, 
        80px 100px, 
        80px 100px, 
        80px 100px, 
        75px 100px, 
        80px 100px;    
      }
    } */






 


*{
    margin: 0;
    padding: 0;
   }
   
   html{
       width: 100vw;
       height: 100vh;
   }
   
  
   .body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(http://bit.ly/2gPLxZ4);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
     font-weight: 400;
    -webkit-font-smoothing: antialiased; 
   }

   .body1{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(http://bit.ly/2gPLxZ4);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
     font-weight: 400;
    -webkit-font-smoothing: antialiased; 
   }
   
   .blurred-box{
     position: relative;
     width: 250px;
     height: 350px;
     top: calc(50% - 175px);
     left: calc(50% - 125px);
     background: inherit;
     border-radius: 2px;
     overflow: hidden;
   }
   
   .blurred-box:after{
    content: '';
    width: 300px;
    height: 300px;
    background: inherit; 
    position: absolute;
    left: -25px;
   
    right: 0;
    top: -25px;  
  
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    filter: blur(10px);
   }
    
   

   .user-login-box{
     position: relative;
     margin-top: 50px;
     text-align: center;
     z-index: 1;
   }
   .user-login-box > *{
     display: inline-block;
     width: 200px;
   }
   
   /* .user-icon{
     width: 100px;
     height: 100px;
     position: relative;
     border-radius: 50%;
     background-size: contain;
     background-image: url();
   } */
   
   .user-name{
     margin-top: 15px;
     margin-bottom: 15px;
     color: white;
   }
   
   input.user-password{
     width: 120px;
     height: 18px;
     opacity: 0.4;
     border-radius: 2px;
     padding: 5px 15px;
     border: 0;
   } 





   .messageStyling {
    overflow: hidden;
   }






@keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  @-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  @-moz-keyframes move-background {    
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
      @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }


  /* .blurred-box{
    position: relative;
    width: 250px;
    height: 350px;
    top: calc(50% - 175px);
    left: calc(50% - 125px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
    z-index: 4;
  } */
  
  /* .blurred-box:after{
   content: '';
   width: 300px;
   height: 300px;
   background: inherit; 
   position: absolute;
   left: -25px;
  
   right: 0;
   top: -25px;  
 
   bottom: 0;
   box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
   filter: blur(10px);
  } */
   
  

  /* .user-login-box{
    position: relative;
    margin-top: 50px;
    text-align: center;
    z-index: 4;
  }
  .user-login-box > *{
    display: inline-block;
    width: 200px;
  } */
  
  /* .user-icon{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    background-size: contain;
    background-image: url();
  } */
  
  /* .user-name{
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
  }
  
  input.user-password{
    width: 120px;
    height: 18px;
    opacity: 0.4;
    border-radius: 2px;
    padding: 5px 15px;
    border: 0;
  }  */

    
  .background-container{
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 1;
    
}
  
  .stars {
   background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
   position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      z-index: 0;
  }
  
  .twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear;
  -ms-animation:move-background 70s linear;
  -o-animation:move-background 70s linear;
  -webkit-animation:move-background 70s linear;
  animation:move-background 70s linear;
	
}
  
  .clouds{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 150s linear;
  -ms-animation:move-background 150s linear;
  -o-animation:move-background 150s linear;
  -webkit-animation:move-background 150s linear;
  animation:move-background 150s linear;
}

  img {
    height: 70vh;
    width:70vh;
    position: absolute;
    z-index: 3;
    right: 20px;
    padding-right: 500px;
  }

  .planet {
      position: relative;
      z-index: 0;
      justify-content: center;
      align-items: center;
  }
  