.centering {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-wrap: wrap;
}

.card {
    background-image: linear-gradient(#bebebe,#8c8d8d);
    font-size: 50px;
}

.btn {
    background-image: linear-gradient(#20b6f1,#036988);
    color: white;
    border-radius: 5px;
    align-content: center;
    box-shadow: 2px 2px 2px whitesmoke;
    display: block;
    margin: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height:70px;
    width:170px;
    font-size: 30px;
    cursor: pointer;
}
.btn:hover {
    background-image: linear-gradient(#1a9ccf,#015169);
    cursor: pointer;
}
.btn:focus {
    background-image: linear-gradient(#136d91,#01212b);
    cursor: pointer;
}

.btn1 {
    background-image: linear-gradient(#20b6f1,#036988);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px whitesmoke;
    display: block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height:35px;
    width:80px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.btn1:hover {
    background-image: linear-gradient(#1a9ccf,#015169);
    cursor: pointer;
}

.btn1:focus {
    background-image: linear-gradient(#136d91,#01212b);
    cursor: pointer;
}

.titleStyling {
    text-align: center;
    padding-top: 5px;
    text-shadow: 2px 2px 2px whitesmoke;
    padding-bottom: 20px;
    position: relative;
    -webkit-animation: myfirst 5s linear 2s infinite alternate; 
    animation: myfirst 5s linear 2s infinite alternate;
    font-family: 'Courgette', cursive;
    margin-bottom: 0px;
}

@-webkit-keyframes mysecond {
    0%   {color:rgb(241, 193, 193);}
    50%  {right:0px; top:0px;}
    100% {color: rgb(107, 41, 41);}
  }

.input {
    height: 40px;
    width: 500px;
    font-size: 25px;
    float: right;
}

.backy {
    background-image: linear-gradient(#bebebe,#212222);  
    margin: auto 10px;
    width: auto;
    height: 2300px;
}

.weatherApp {
    background-repeat: no-repeat;
    width: 400px;
    height: 270px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.awareness {
    background-repeat: no-repeat;
    width: 433px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.movie {
    background-repeat: no-repeat;
    width: 433px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.sanDiego {
    background-repeat: no-repeat;
    width: 400px;
    height: 270px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.jack {
    background-repeat: no-repeat;
    width: 433px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.vstda {
    background-repeat: no-repeat;
    width: 433px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.lights {
    background-repeat: no-repeat;
    width: 433px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.rock {
    background-repeat: no-repeat;
    width: 150px;
    height: 300px;
    z-index: -1;
    margin: 47px 1px 1px 23px;
    cursor: pointer;
    border-style: outset;
}

.projectTitleStyling {
    color: rgb(158, 35, 35);
    font-size: 40px;
    font-style: oblique;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: -10px;
}

.iAmStyling {
    font-size: 80px;
    text-align: center;
    font-family: 'Courgette', cursive;
    padding-bottom: 13px;
    padding-top: 5px;
    text-shadow: 2px 2px 2px white;
    color: rgb(19, 18, 18);
}

.iAmStyling {
    position: relative;
    -webkit-animation: myfirst 5s linear 2s infinite alternate; 
    animation: myfirst 5s linear 2s infinite alternate;
}
  
@-webkit-keyframes myfirst {
    0%   {left: 0px;}
    50%  {right:15px;}
    100% {left:-15px;}
}

.lineAdjust {
      margin-top: 0px;
      margin-bottom: 0px;
}

.ifStyling {
    font-size: 46px;
    text-shadow: 1px 1px 2px black;
}

table {
     position: relative;
     justify-content: center;
     margin: auto;
     margin-top: 15px;
}
  
/* --------------------------------------------------------------3D Projects------------------------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
    background: #ddd;
    background: linear-gradient(#ddd, #e8e8e8);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin:0px;
}

.thumb {
    width: 400px;
    height: 250px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url("/images/weatherApp.png");
    background-size: 0, contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 96%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.thumb1 {
    width: 400px;
    height: 200px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/awareness.png");
    background-size: 0, contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb1:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb1 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb1 a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb1 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb1:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.thumb2 {
    width: 400px;
    height: 300px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb2 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url("/images/movie.png");
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb2:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb2 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb2 a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb2 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb2:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.thumb3 {
    width: 400px;
    height: 200px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb3 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url("/images/sanDiego.png");
    background-size: 0, contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb3:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb3 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb3 a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb3 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb3:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.thumb4 {
    width: 400px;
    height: 240px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb4 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
	url("/images/vstda.png");
    background-size: 0, contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb4:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb4 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb4 a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb4 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb4:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.thumb5 {
    width: 150px;
    height: 300px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb5 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
	url("/images/rock.png");
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb5:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb5 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb5 a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb5 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb5:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.thumb6 {
    width: 400px;
    height: 240px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb6 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
	url("/images/jack.png");
    background-size: 0, contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb6:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb6 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb6 a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb6 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb6:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

@-webkit-keyframes happy {
    0%   {left:-15px; top:0px;}
    50%  {right:0px; top:0px;}
    100% {left:15px; top:0px;}
}

.happy:hover, .happy:focus, .happy:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
text-align: center;
text-rendering: optimizeLegibility;
}

.happy
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
text-shadow: 2px 2px 2px black;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
text-align: center;
position: relative;
-webkit-animation: happy 5s infinite alternate; 
animation: happy 5s infinite alternate;
}

/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */

.menu {
  text-transform: uppercase;
  color: rgb(123, 29, 29);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: relative;
  bottom: 20px;
  left: 20px;
  z-index: 5;
  font-size: 40px;
}

.menu:hover {
  pointer-events: all;
}

.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  
}

.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}

.item10 {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}

.item10:hover span {
  color: #4d2121;
}

.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}

.menu:hover .item10 {
  opacity: 1;
  top: 0px;
}

.item10:nth-child(1) {
  transition-delay: 0.45s;
}

.item10:nth-child(2) {
  transition-delay: 0.4s;
}

.item10:nth-child(3) {
  transition-delay: 0.35s;
}

.item10:nth-child(4) {
  transition-delay: 0.3s;
}

.item10:nth-child(5) {
  transition-delay: 0.25s;
}

.item10:nth-child(6) {
  transition-delay: 0.2s;
}

.item10:nth-child(7) {
  transition-delay: 0.15s;
}

.item10:nth-child(8) {
  transition-delay: 0.1s;
}

.item10:nth-child(9) {
  transition-delay: 0.05s;
}

.item10:nth-child(10) {
  transition-delay: 0s;
}

.menu:hover .item10:nth-child(1) {
  transition-delay: 0.25s;
}

.menu:hover .item10:nth-child(2) {
  transition-delay: 0.3s;
}

.menu:hover .item10:nth-child(3) {
  transition-delay: 0.35s;
}

.menu:hover .item10:nth-child(4) {
  transition-delay: 0.4s;
}

.menu:hover .item10:nth-child(5) {
  transition-delay: 0.45s;
}

.menu:hover .item10:nth-child(6) {
  transition-delay: 0.5s;
}

.menu:hover .item10:nth-child(7) {
  transition-delay: 0.55s;
}

.menu:hover .item10:nth-child(8) {
  transition-delay: 0.6s;
}

.menu:hover .item10:nth-child(9) {
  transition-delay: 0.65s;
}

.menu:hover .item10:nth-child(10) {
  transition-delay: 0.7s;
}

a:-webkit-any-link {
    color: rgb(123, 29, 29);
    cursor: pointer;
    text-decoration: none;
}

.behind {
    position: absolute;
    z-index: -1;
}




p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;

  }

  p:hover {
    animation-play-state: paused;

  }
  
  @keyframes slidein {
    from {
      /* margin-left: 100%;
      width: 300%;  */
    }
  
    75% {
      font-size: 300%;
      /* margin-left: 25%;
      width: 150%; */
    }
  
    to {
      /* margin-left: 0%;
      width: 100%; */
    }
  }

  .hype {
    color: rgb(123, 29, 29);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    cursor: pointer; 
  }

/* -------------------------------------------------------------------lazerEye----------------------------------------------- */

  .polling_message {
    color: white;
    float: left;
    margin-right: 0%;
  }
  
  .view_port {
    background-color: black;
    height: 25px;
    width: 100%;
    overflow: hidden;
  }
  
  .cylon_eye {
    background-color: rgb(123, 29, 29);;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, .9) 25%,
        rgba(0, 0, 0, .1) 50%,
        rgba(0, 0, 0, .9) 75%);
    color: white;
    height: 100%;
    width: 20%;
  
    -webkit-animation: 4s linear 0s infinite alternate move_eye;
            animation: 4s linear 0s infinite alternate move_eye;
  }
  
  @-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
          @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }





label {
    cursor: default;
    text-shadow: 1px 1px 1px white;
}

.slack {
    text-align: center;
}